html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #4b5563;
  position: relative;
}

body > .menubar {
  margin: 0 auto 0 auto;
  padding: 1rem;
  color: white;
  width: 960px;
  font-weight: 600;
}

form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid-container {
  margin: 0 auto;

  height: 860px;
  width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 0 auto;
}
.square {
  background-color: white;
  border: 1px solid rgb(250, 249, 249);
  flex: 1 1 auto;
}

.row {
  display: flex;
  justify-content: stretch;
  flex: 1 1 auto;
}

.mousehover {
  background-color: grey;
}

#gridSize {
  padding: 5px;
}

button {
  padding: 5px;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #010203;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.popup p {
  margin-bottom: 10px;
}

.show-popup {
  display: flex;
  opacity: 1;
}
